---
layout: default
pagination:
  enabled: true
---

<div class="home">
  <style>
    div#antcontainer {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    div#info { text-align: center; }
  </style>
  <div id="antcontainer">
    <canvas id="langtons-ant" width="500" height="500"></canvas>
  </div>
  <div id="info">
    <h4>
      ^^ Langton's Ant, a ceullar automata
      <a href="https://en.wikipedia.org/wiki/Langton%27s_ant" target="_blank"
        >[more info]</a
      >
    </h4>
  </div>

  <script>
    let canvasWidth, canvasHeight;
    const WIDTH = 500;
    const HEIGHT = 500;
    const ROWS = 50;
    const COLS = 50;
    const ANT_SIZE = 10;
    const Position = { U: 0, R: 1, D: 2, L: 3 };
    const PositionToDelta = {
      U: { dx: 0, dy: -1 },
      R: { dx: 1, dy: 0 },
      D: { dx: 0, dy: 1 },
      L: { dx: -1, dy: 0 },
    };
    const PositionList = ["U", "R", "D", "L"];

    function drawBoard(board, ctx) {
      for (let i = 0; i < board.length; i++) {
        // rows
        for (let j = 0; j < board[i].length; j++) {
          // cols
          const color = board[i][j] === 0 ? "#fdfdfd" : "#000000";
          ctx.fillStyle = color;
          ctx.fillRect(j * ANT_SIZE, i * ANT_SIZE, ANT_SIZE, ANT_SIZE);
        }
      }
    }

    function Ant(x, y, position, board, ctx) {
      this.X = x;
      this.Y = y;
      this.position = position;
      this.board = board;
      this.ctx = ctx;
    }

    Ant.prototype.turnLeft = function() {
      const idx = Position[this.position];
      if (idx === 0) {
        this.position = PositionList[3];
      } else {
        this.position = PositionList[idx - 1];
      }
    };
    Ant.prototype.turnRight = function() {
      const idx = Position[this.position];
      if (idx === 3) {
        this.position = PositionList[0];
      } else {
        this.position = PositionList[idx + 1];
      }
    };
    Ant.prototype.goForward = function() {
      const { dx, dy } = PositionToDelta[this.position];
      if (this.X + dx < COLS && this.X + dx >= 0) {
        this.X += dx;
      }
      if (this.Y + dy < ROWS && this.Y + dy >= 0) {
        this.Y += dy;
      }
    };
    Ant.prototype.stepFromWhite = function() {
      flipSquare(this.board, this.X, this.Y);
      this.turnRight();
      this.goForward();
    };
    Ant.prototype.stepFromBlack = function() {
      flipSquare(this.board, this.X, this.Y);
      this.turnLeft();
      this.goForward();
    };
    Ant.prototype.step = function() {
      if (this.board[this.X][this.Y] === 0) {
        this.stepFromWhite();
      } else {
        this.stepFromBlack();
      }
    };
    Ant.prototype.draw = function() {
      this.ctx.fillStyle = "gold";
      this.ctx.fillRect(
        this.X * ANT_SIZE,
        this.Y * ANT_SIZE,
        ANT_SIZE,
        ANT_SIZE,
      );
    };
    function flipSquare(G, x, y) {
      G[y][x] = Number(!G[y][x]);
    }
    function drawSquares() {}
    function drawAnt() {}

    function loaded() {
      const canvas = document.getElementById("langtons-ant");
      const ctx = canvas.getContext("2d");
      ctx.clearRect(0, 0, canvas.width, canvas.height);
      // 0 is white 1 is black
      const G = new Array(ROWS).fill(0).map(e => new Uint8Array(COLS).fill(0));
      const A = new Ant(
        Math.floor(ROWS / 2),
        Math.floor(COLS / 2),
        PositionList[1],
        G,
        ctx,
      );

      setInterval(function() {
        drawBoard(G, ctx);
        A.draw();
        A.step();
      }, 24);
    }

    document.addEventListener("DOMContentLoaded", loaded);
  </script>
  <section id="article">
    <h4>latest blog post</h4>
    <ul>
      {% for post in site.posts offset: 0 limit: 1 %} &raquo;
      <a href="{{ post.url }}">{{ post.title }}</a>
      {% endfor %}
    </ul>
  </section>
</div>
